<a href="https://colab.research.google.com/github/Sragvi123S/2216137_AIML_BootCamp/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples.

In [ ]:
str="Sragvi Reddy"
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.capitalize())
print(str.title())

SRAGVI REDDY
sragvi reddy
sRAGVI rEDDY
Sragvi reddy
Sragvi Reddy

In [ ]:
str1="my name is Srgavi Reddy"
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

my name is Srgavi Reddy
my name is Srgavi Reddy
my name is Srgavi Reddy

2.Implement the methods of List with examples.

In [ ]:
l1=[1,2,3,4]
l1.append(7)
print(l1)
l1.insert(4,6)
print(l1)
l1.append([8,9])
print(l1)

[1, 2, 3, 4, 7]
[1, 2, 3, 4, 6, 7]
[1, 2, 3, 4, 6, 7, [8, 9]]

3. Implement the methods of Tuple with examples.

In [ ]:
my_tuple=()
print(my_tuple)
my_tuple=(5,6,7,8)
print(my_tuple)
my_tuple=(6,"sragvi",7.5)
print(my_tuple)

()
(5, 6, 7, 8)
(6, 'sragvi', 7.5)

4. Implement the methods of Dictionary with examples.

In [ ]:
my_dict={'name':'Sragvi','branch':'CSE AIML','clg name':'SRU'}
print(my_dict['name'])
print(my_dict.keys())
print(my_dict.values())
print(my_dict.get('branch'))

Sragvi
dict_keys(['name', 'branch', 'clg name'])
dict_values(['Sragvi', 'CSE AIML', 'SRU'])
CSE AIML

5. Implement the methods of Set with examples

In [ ]:
a={1,3,5,7}
b={2,4,5,8,9}
print(a|b)
print(a.union(b))
print(b.union(a))

{1, 2, 3, 4, 5, 7, 8, 9}
{1, 2, 3, 4, 5, 7, 8, 9}
{1, 2, 3, 4, 5, 7, 8, 9}

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with
direct method.

In [ ]:
dec=223
print("the decimal value of",dec,"is:")
print(bin(dec),"in binary")
print(oct(dec),"in octal")
print(hex(dec),"in hexadecimal")

the decimal value of 223 is:
0b11011111 in binary
0o337 in octal
0xdf in hexadecimal

12.Implement Membership operators with examples.

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}
print('H' in x)
print('hello' not in x)
print(1 in y)
print('a' in y)

True
True
True
False

7.Implement Arithmetic operators with examples.

In [ ]:
a=4
b=6
print("arithematic\n")
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

arithematic

10
-2
24
0.6666666666666666
0

8. Implement Assignment operators with examples.

In [ ]:
a=6
c=8
print("assignment\n")
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c%=a
print(c)
c**=a
print(c)

assignment

14
8
48
8.0
2.0
64.0

9.Implement Comparison operators with examples.

In [ ]:
x = 4
y = 12

print('x > y is',x>y)
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

10.Implement Logical operators with examples.

In [ ]:
x = True
y = False

print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

x and y is False
x or y is True
not x is False

11. Implement Bitwise operators with examples.

In [ ]:
a=10
b=15
print("bitwise\n")
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<3)
print(~b)
print(b>>2)
print(b<<3)

bitwise

10
5
15
-11
2
80
-16
3
120

13. Implement Identity operators with examples

In [ ]:
print("identity\n")
x1=4
y1=6
x2="sraGvi"
y2="sragvi"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

identity

True
False
False

14. Demonstrate Negative indexing for List and apply slicing.

In [ ]:
list=[2,1,0,7,4,6]
k=4
res= ~list[::-1].index(k)
print("the negative index",res)

the negative index -2

15. Predict the output for the given code snippet and justify the result
     print('A series of characters designed as one object known a a string'[::-1][4::3])
     print("-----------")
     print('welcome to python traing program'[3:10][::-1])

In [40]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("-------------------------")
print('Welcome to python training program'[3:10][::-1])

taawkcbe  tgestrcoeeA
-------------------------
ot emoc

16.Write a python code to get desired output

      Input string   :p_phrase="was it a car or a cat I saw"

      Output string  :         WAS I TAC A RO RAC A TI SAW

In [ ]:
p_phrase="was it a car or a cat I saw"

print(p_phrase[::-1])
print(p_phrase.upper())

was I tac a ro rac a ti saw
WAS IT A CAR OR A CAT I SAW

17.You are required to generate a word similar to ZOO, X and Y that denote the numberof Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X.
   Input X= 2 Output ZZOOOO
   Input X= 5 Output ZZZZZOOOOOOOOOO

In [41]:
x=int(input("enter a value"))
y=2*x
print('x=',x)
print('y=',y)
print('z'*x,'o'*y,sep='')

enter a value4
x= 4
y= 8
zzzzoooooooo